@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-decoration-1: hsl(257, 40%, 49%);
    --color-decoration-2: hsl(300, 69%, 71%);
}

body {
    background-color: var(--color-decoration-1);
}