@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-decoration-1: hsl(257, 40%, 49%);
    --color-decoration-2: hsl(300, 69%, 71%);
}

/*-----body setups-------*/

body {
    background-color: var(--color-decoration-1);
}

#image-mobile-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#image-desktop-background {
    display: none;
}

@media(min-width: 1024px) {
    #image-mobile-background {
        display: none;
    }

    #image-desktop-background {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 90%;
        height: 100%;
    }
}

/*-----information setups------*/

#logo {
    position: relative;
    width: 35%;
    margin: 5% 0 0 10%;
}

@media(min-width: 1024px) {
    #logo {
        width: 15%;
        margin: 3% 0 0 4%;
    }
}

#illustration-mockups {
    position: relative;
    width: 83%;
    margin: 19% 7% 0 10%;
}

@media(min-width: 1024px) {
    #illustration-mockups {
        width: 51%;
        margin: 3% 0 0 3%;
    }
}

@media(min-width: 1440px) {
    #illustration-mockups {
        width: 51%;
        margin: 5% 0 0 3%;
    }
}

.box-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

@media(min-width: 1024px) {
    .box-information {
        position: absolute;
        top: 14%;
        left: 52%;
        width: 500px;
        text-align: left;
    }
}

@media(min-width: 1440px) {
    .box-information {
        top: 20%;
        left: 59%;
    }
}

.box-information h1 {
    width: 83%;
    margin-top: 15%;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

@media(min-width: 1024px) {
    .box-information h1 {
        width: 80%;
        font-size: 30px;
    }
}

@media(min-width: 1440px) {
    .box-information h1 {
        width: 110%;
        font-size: 35px;
    }
}

.box-information p {
    width: 83%;
    margin: 0 0 8% 0;
    font-size: 15.5px;
    font-family: 'Open Sans', monospace;
}

@media(min-width: 1024px) {
    .box-information p {
        width: 80%;
        font-size: 13.5px;
    }
}

@media(min-width: 1440px) {
    .box-information p {
        width: 110%;
        font-size: 18px;
    }
}

.box-information #button {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(70, 70, 70);
    background-color: white;
}

.box-information #button:hover {
    background-color: var(--color-decoration-2);
}

@media(min-width: 1024px) {
    .box-information #button {
        width: 30%;
        height: 42px;
        margin: -20px 0 0 -245px;
    }
}

.box-information a {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: var(--color-decoration-1);
}

.box-information a:hover {
    color: white;
}

/*--------icon setups-------*/

#box-icon {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    color: white;
}

@media(min-width: 1024px) {
    #box-icon {
        position: absolute;
        top: 81%;
        left: 83%;
    }
}

#facebook-icon {
    margin-right: 12px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50%;
}

#facebook-icon:hover {
    color: var(--color-decoration-2);
    border: 1px solid var(--color-decoration-2);
}

#twitter-icon {
    margin-right: 12px;
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 50%;
}

#twitter-icon:hover {
    color: var(--color-decoration-2);
    border: 1px solid var(--color-decoration-2);
}

#github-icon {
    padding: 5px 8px;
    border: 1px solid white;
    border-radius: 50%;
}

#github-icon:hover {
    color: var(--color-decoration-2);
    border: 1px solid var(--color-decoration-2);
}

/*-----footer setup------*/

footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: var(--color-decoration-2);
}

@media(min-width: 1024px) {
    footer {
        display: none;
    }
}
