@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-decoration-1: hsl(257, 40%, 49%);
    --color-decoration-2: hsl(300, 69%, 71%);
}

/*-----body setups-------*/

body {
    background-color: var(--color-decoration-1);
}

#image-mobile-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/*-----individual setups------*/

#logo {
    position: relative;
    width: 35%;
    margin: 5% 0 0 10%;
}

#illustration-mockups {
    position: relative;
    width: 83%;
    margin: 19% 7% 0 10%;
}